<h2>Manage Users</h2>
<%= link_to "New User", new_user_path %>
<hr>
<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Role</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%=user.email%></td>
      <td><%=user.name%></td>
      <td><%= if user.admin == 1
                "Admin" 
              elsif user.admin == 2
                "Publisher"
              else
                "Subscriber"
              end %></td>
      <td>
        <% if user == current_user %>
          <%= link_to "Change Password",
            edit_user_registration_path,
            class: 'nowrap' %> 
        <% else %>
          <%= link_to "Change Role", 
            toggle_user_admin_path(user),
            method: :post,
            class: 'nowrap' %> |
          <%= link_to 'Reset Password', reset_user_password_path(user),
            method: :post, class: 'nowrap' %> |
          <% post_count = user.posts.count %>
          <% comment_count = user.comments.count %>
          <% if post_count > 0 || comment_count > 0 %>
            <% warning = "WARNING: #{user.name} (#{user.email}) has #{post_count} post#{'s' unless post_count == 1} and #{comment_count} comment#{'s' unless comment_count == 1}. Deleting this user will PERMANENTLY destroy all of them. Consider reassigning their content first. Are you sure?" %>
          <% else %>
            <% warning = "Are you sure you want to delete #{user.name} (#{user.email})?" %>
          <% end %>
          <%= link_to 'Delete', user_path(user),
            method: :delete, class: 'nowrap',
            data: { confirm: warning } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
